IF DB_ID('KidNest') IS NULL
BEGIN
    CREATE DATABASE [KidNest];
END
GO

USE [KidNest]
GO
/****** Object:  Table [dbo].[AppUsers]    Script Date: 2025-06-23 10:39:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AppUsers](
	[AppUserId] [int] IDENTITY(1,1) NOT NULL,
	[AppUserFullName] [varchar](50) NULL,
	[AppUserPhoneNumber] [varchar](50) NULL,
	[AppUserEmail] [varchar](50) NULL,
	[AppUserAddress] [varchar](50) NULL,
	[AppUserDOB] [date] NULL,
	[AppUserCode] [varchar](50) NULL,
	[AppUserPassword] [varchar](200) NULL,
	[AppUserLastLoginDate] [datetime] NULL,
	[AppUserLastLogInPCName] [varchar](100) NULL,
	[AppUserIsActive] [bit] NULL,
	[AppUserRowVersion] [int] NULL,
	[AppUserUserUpdatedBy] [varchar](100) NULL,
	[AppUserLastUpdated] [datetime] NULL,
	[AppUserUserCreatedBy] [varchar](100) NULL,
	[AppUserCreatedDate] [datetime] NULL,
	[tTimeStamp] [timestamp] NULL,
	[Ref1] [varchar](100) NULL,
	[Ref2] [varchar](100) NULL,
	[Ref3] [varchar](100) NULL,
	[Ref4] [varchar](100) NULL,
	[Ref5] [varchar](300) NULL,
 CONSTRAINT [PK_AppUsers] PRIMARY KEY CLUSTERED 
(
	[AppUserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AppUsersRoles]    Script Date: 2025-06-23 10:39:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AppUsersRoles](
	[AppUserId] [int] NOT NULL,
	[RoleId] [int] NOT NULL,
	[AssignedDate] [date] NULL,
 CONSTRAINT [PK_AppUsersRoles] PRIMARY KEY CLUSTERED 
(
	[AppUserId] ASC,
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Categories]    Script Date: 2025-06-23 10:39:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categories](
	[CategoryId] [int] IDENTITY(1,1) NOT NULL,
	[CategoryName] [varchar](50) NULL,
	[CategoryDescription] [varchar](200) NULL,
	[Ref1] [varchar](100) NULL,
	[Ref2] [varchar](100) NULL,
	[Ref3] [varchar](100) NULL,
	[Ref4] [varchar](100) NULL,
	[Ref5] [varchar](100) NULL,
 CONSTRAINT [PK_Categories] PRIMARY KEY CLUSTERED 
(
	[CategoryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Contents]    Script Date: 2025-06-23 10:39:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Contents](
	[ContentId] [int] IDENTITY(1,1) NOT NULL,
	[ContentName] [varchar](50) NULL,
	[ContentType] [varchar](50) NULL,
	[ContentPath] [varchar](100) NULL,
	[IsActive] [bit] NULL,
	[Ref1] [varchar](100) NULL,
	[Ref2] [varchar](100) NULL,
	[Ref3] [varchar](100) NULL,
	[Ref4] [varchar](100) NULL,
	[Ref5] [varchar](100) NULL,
 CONSTRAINT [PK_Contents] PRIMARY KEY CLUSTERED 
(
	[ContentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MdColors]    Script Date: 2025-06-23 10:39:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MdColors](
	[MdColorId] [int] IDENTITY(1,1) NOT NULL,
	[MdColorName] [varchar](50) NULL,
	[MdColorHexValue] [varchar](7) NULL,
	[MdColorIsActive] [bit] NULL,
	[MdColorCreatedDate] [datetime] NULL,
 CONSTRAINT [PK_MdColors] PRIMARY KEY CLUSTERED 
(
	[MdColorId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MdSizes]    Script Date: 2025-06-23 10:39:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MdSizes](
	[MdSizeId] [int] IDENTITY(1,1) NOT NULL,
	[MdSizeDescription] [varchar](50) NULL,
	[MdSizeCode] [varchar](10) NULL,
	[MdSizeIsActive] [bit] NULL,
	[MdSizeCreatedDate] [datetime] NULL,
 CONSTRAINT [PK_MdSize] PRIMARY KEY CLUSTERED 
(
	[MdSizeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderItems]    Script Date: 2025-06-23 10:39:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderItems](
	[OrderItemId] [int] IDENTITY(1,1) NOT NULL,
	[OrderId] [int] NULL,
	[ProductId] [int] NULL,
	[ProductVariantId] [int] NULL,
	[Quantity] [int] NULL,
	[Ref2] [varchar](100) NULL,
	[Ref3] [varchar](100) NULL,
	[Ref4] [varchar](100) NULL,
	[Ref5] [varchar](100) NULL,
 CONSTRAINT [PK_OrderItems] PRIMARY KEY CLUSTERED 
(
	[OrderItemId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Orders]    Script Date: 2025-06-23 10:39:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Orders](
	[OrderId] [int] IDENTITY(1,1) NOT NULL,
	[OrderDate] [datetime] NULL,
	[UserId] [int] NULL,
	[OrderStatus] [varchar](50) NULL,
	[ModifiedDate] [datetime] NULL,
	[ModifiedBy] [varchar](50) NULL,
	[Ref1] [varchar](100) NULL,
	[Ref2] [varchar](100) NULL,
	[Ref3] [varchar](100) NULL,
	[Ref4] [varchar](100) NULL,
	[Ref5] [varchar](300) NULL,
 CONSTRAINT [PK_Orders] PRIMARY KEY CLUSTERED 
(
	[OrderId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Products]    Script Date: 2025-06-23 10:39:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Products](
	[ProductId] [int] IDENTITY(1,1) NOT NULL,
	[CategoryId] [int] NOT NULL,
	[ProductBarcode] [varchar](100) NULL,
	[ProductName] [varchar](100) NULL,
	[ProductDescription] [varchar](200) NULL,
	[ProductPrice] [decimal](18, 2) NULL,
	[ProductDiscount] [decimal](18, 2) NULL,
	[ProductQuantity] [int] NULL,
	[ProductImagePath] [varchar](100) NULL,
	[ProductCreatedDate] [datetime] NULL,
	[ProductModifiedDate] [datetime] NULL,
	[ProductIsNewRelease] [bit] NULL,
	[ProductNewReleaseUntil] [datetime] NULL,
 CONSTRAINT [PK_Products] PRIMARY KEY CLUSTERED 
(
	[ProductId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductVariants]    Script Date: 2025-06-23 10:39:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductVariants](
	[ProductVariantId] [int] IDENTITY(1,1) NOT NULL,
	[ProductVariantProductId] [int] NOT NULL,
	[ProductVariantKey] [varchar](50) NULL,
	[ProductVariantColorId] [int] NULL,
	[ProductVariantSizeId] [int] NULL,
	[ProductVariantCategoryId] [int] NULL,
	[ProductVariantBarcode] [varchar](50) NULL,
	[ProductVariantQuantity] [int] NULL,
	[ProductVariantCreatedDate] [datetime] NULL,
	[ProductVariantModifiedDate] [datetime] NULL,
	[ProductVariantIsActive] [bit] NULL,
	[Ref1] [varchar](50) NULL,
	[Ref2] [varchar](50) NULL,
	[Ref3] [varchar](50) NULL,
	[Ref4] [varchar](50) NULL,
	[Ref5] [varchar](50) NULL,
 CONSTRAINT [PK_ProductVariants] PRIMARY KEY CLUSTERED 
(
	[ProductVariantId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Roles]    Script Date: 2025-06-23 10:39:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[RoleId] [int] IDENTITY(1,1) NOT NULL,
	[RoleName] [varchar](50) NULL,
	[RoleDescription] [varchar](200) NULL,
 CONSTRAINT [PK_Roles_1] PRIMARY KEY CLUSTERED 
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SiteSettings]    Script Date: 2025-06-23 10:39:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SiteSettings](
	[SiteSettingsId] [int] IDENTITY(1,1) NOT NULL,
	[ContactEmail] [varchar](50) NULL,
	[ContactPhone] [varchar](50) NULL,
	[FacebookUrl] [varchar](200) NULL,
	[InstagramUrl] [varchar](200) NULL,
	[ContactWhatsapp] [varchar](500) NULL,
	[ParallaxImage] [varchar](100) NULL,
	[LastUpdated] [datetime] NULL,
 CONSTRAINT [PK_SiteSettings] PRIMARY KEY CLUSTERED 
(
	[SiteSettingsId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[AppUsersRoles]  WITH CHECK ADD  CONSTRAINT [FK_AppUsersRoles_AppUsers] FOREIGN KEY([AppUserId])
REFERENCES [dbo].[AppUsers] ([AppUserId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AppUsersRoles] CHECK CONSTRAINT [FK_AppUsersRoles_AppUsers]
GO
ALTER TABLE [dbo].[AppUsersRoles]  WITH CHECK ADD  CONSTRAINT [FK_AppUsersRoles_Roles] FOREIGN KEY([RoleId])
REFERENCES [dbo].[Roles] ([RoleId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AppUsersRoles] CHECK CONSTRAINT [FK_AppUsersRoles_Roles]
GO
ALTER TABLE [dbo].[OrderItems]  WITH CHECK ADD  CONSTRAINT [FK_OrderItems_Orders] FOREIGN KEY([OrderId])
REFERENCES [dbo].[Orders] ([OrderId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[OrderItems] CHECK CONSTRAINT [FK_OrderItems_Orders]
GO
ALTER TABLE [dbo].[OrderItems]  WITH CHECK ADD  CONSTRAINT [FK_OrderItems_Products] FOREIGN KEY([ProductId])
REFERENCES [dbo].[Products] ([ProductId])
GO
ALTER TABLE [dbo].[OrderItems] CHECK CONSTRAINT [FK_OrderItems_Products]
GO
ALTER TABLE [dbo].[OrderItems]  WITH CHECK ADD  CONSTRAINT [FK_OrderItems_ProductVariants] FOREIGN KEY([ProductVariantId])
REFERENCES [dbo].[ProductVariants] ([ProductVariantId])
GO
ALTER TABLE [dbo].[OrderItems] CHECK CONSTRAINT [FK_OrderItems_ProductVariants]
GO
ALTER TABLE [dbo].[Products]  WITH CHECK ADD  CONSTRAINT [FK_Products_Categories] FOREIGN KEY([CategoryId])
REFERENCES [dbo].[Categories] ([CategoryId])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[Products] CHECK CONSTRAINT [FK_Products_Categories]
GO
ALTER TABLE [dbo].[ProductVariants]  WITH CHECK ADD  CONSTRAINT [FK_ProductVariants_MdColors] FOREIGN KEY([ProductVariantColorId])
REFERENCES [dbo].[MdColors] ([MdColorId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ProductVariants] CHECK CONSTRAINT [FK_ProductVariants_MdColors]
GO
ALTER TABLE [dbo].[ProductVariants]  WITH CHECK ADD  CONSTRAINT [FK_ProductVariants_MdSizes] FOREIGN KEY([ProductVariantSizeId])
REFERENCES [dbo].[MdSizes] ([MdSizeId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ProductVariants] CHECK CONSTRAINT [FK_ProductVariants_MdSizes]
GO
ALTER TABLE [dbo].[ProductVariants]  WITH CHECK ADD  CONSTRAINT [FK_ProductVariants_Products] FOREIGN KEY([ProductVariantProductId])
REFERENCES [dbo].[Products] ([ProductId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ProductVariants] CHECK CONSTRAINT [FK_ProductVariants_Products]
GO
/****** Object:  StoredProcedure [dbo].[sp_AssignUserRole]    Script Date: 2025-06-23 10:39:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_AssignUserRole]
    @AppUserId INT,
    @RoleName NVARCHAR(50)  -- Accept role name instead of RoleId
AS
BEGIN
    -- Declare a variable to hold the RoleId
    DECLARE @RoleId INT;

    -- Retrieve RoleId based on RoleName
    SELECT @RoleId = RoleId
    FROM [dbo].[Roles] -- Assuming you have a Roles table with RoleId and RoleName
    WHERE RoleName = @RoleName;

    -- Check if the RoleId was found
    IF @RoleId IS NULL
    BEGIN
        -- If RoleId is not found, return an error or handle the case
        RAISERROR('Role not found', 16, 1);
        RETURN;
    END

    -- Insert the user role with the found RoleId
    INSERT INTO [dbo].[AppUsersRoles] (AppUserId, RoleId, AssignedDate)
    VALUES (@AppUserId, @RoleId, GETDATE());
END

GO
